<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" charset="UTF-8" content="text/html">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/bootstrap/bootstrap.min.css">
    <!--&lt;!&ndash; CSS Implementing Plugins &ndash;&gt;-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/hamburgers/hamburgers.min.css">
    <!-- CSS Unify -->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/css/unify.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/animate.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/fancybox/jquery.fancybox.css">
    <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/css/main.css?version=201712211830">-->
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/icon-hs/style.css">
    <!--<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.publicPath%>public/css/iohk.css">-->
</head>
<body id="home-section">
<div class="wrapper"></div>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/tether.min.js"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/bootstrap/bootstrap.min.js"></script>
<!--<script src="<%= htmlWebpackPlugin.options.publicPath%>/public/js/language/CN.js?version=201712211830"></script>-->
<!--<script src="<%= htmlWebpackPlugin.options.publicPath%>/public/js/language/EN.js?version=201712211830"></script>-->
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/masonry/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!--<script type="text/javascript" src="<%= htmlWebpackPlugin.options.publicPath%>public/js/function.js"></script>-->
</body>
</html>
